/* Enter your CSS here */
/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/josefin-sans-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Light'), local('JosefinSans-Light'),
       url('../fonts/josefin-sans-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v12-latin-300.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefin-sans-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
       url('../fonts/josefin-sans-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v12-latin-600.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
body {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #4d4f4d;
}
.wrapper-main #page-header.top-bar {
    background-color: #000000;
}
.wrapper-main .navbar {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}