body {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #4d4f4d;
}
.wrapper-main .navbar {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}
.featured-category {
    display: block;
    height: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    position: relative;
    overflow: hidden
}
.sidebar-categories {
    background: #fff;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    height: 100%
}
/* Change Colors */
.wrapper-main #page-header.top-bar {
    background-color: #000000;
}
.wrapper-main {
    background-color: #fff;
}
.wrapper-main .page-content {
    background-color: #fff;
}
.featured-category {
    display: block;
    height: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-family: Custom-Font, Helvetica, Arial, sans-serif;
    position: relative;
    overflow: hidden
}
.sidebar-categories {
    background: #fff;
    font-family: Custom-Font, Helvetica, Arial, sans-serif;
    height: 100%
}
https://cdn02.plentymarkets.com/0dooq7vcm8fg/frontend/fonts/josefin-sans-v12-latin-300.eot